@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@500;600;700&family=Roboto&display=swap");
$primary-color: #0000a4;
$primary-btn-color: #00f;
$primary-margin: 0em 12em 0 12em;
$primary-margin-sm: 0em 21em 0 21em;
$font-primary: "Roboto", sans-serif;
$font-title: "Pridi", serif;
